html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  color: #202124;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

textarea:focus, input:focus {
  outline: none;
}

.rates > .rate {
  display: flex;
  margin: 12px 0;
}

.rates > .rate > div {
  display: flex;
  align-items: center;
  border: 1px solid #dadce0;
  border-radius: 4px;
  padding: 6px 8px;
  margin: 6px;
}

.rates > .rate > div > input {
  border: 0;
  height: 100%;
  padding: 0;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

.rates > .rate > div > span {
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, .65);
}

@media (max-width: 450px) {
  .rates > .rate {
    flex-direction: column;
  }
}